In [2]:
import sys
sys.path.append('./')
from utilities.data_manager import ExchangeDataManager
import pandas as pd

# Download Historical data into CSV in Database

In [22]:
exchange_name = "mexc"

intervals = ["15m"]

coin_to_dl = [
    "RVN/USDT:USDT",
    "DUSK/USDT:USDT",
    "ATOM/USDT:USDT",
]

exchange = ExchangeDataManager(
    exchange_name=exchange_name, path_download="./database/exchanges"
)

await exchange.download_data(
    coins=coin_to_dl,
    intervals=intervals,
    #start_date="2023-01-01 00:00:00"
)

	Récupération pour la paire RVN/USDT:USDT en timeframe 15m sur l'exchange mexc...
	Données déjà récupérées
	Récupération pour la paire DUSK/USDT:USDT en timeframe 15m sur l'exchange mexc...

  0%|          | 0/254 [00:00<?, ?it/s]

Error during download DUSK/USDT:USDT 15m 1636225200000 mexc {"success":false,"code":510,"message":"Request frequently too fast!"}
	Récupération pour la paire ATOM/USDT:USDT en timeframe 15m sur l'exchange mexc...
	Données déjà récupérées

In [19]:
df = exchange.load_data(
    coin="OCEAN/USDT:USDT",
    interval="15m"
)

df

                        open     high      low    close    volume
date
2021-04-02 02:45:00  1.44200  1.44307  1.44178  1.44219    1010.0
2021-04-02 03:00:00  1.44219  1.44810  1.44114  1.44214   15390.0
2021-04-02 03:15:00  1.44214  1.44334  1.43711  1.44334    7158.0
2021-04-02 03:30:00  1.44334  1.44709  1.44234  1.44459    9148.0
2021-04-02 03:45:00  1.44459  1.44621  1.43970  1.44271    9028.0
...                      ...      ...      ...      ...       ...
2024-03-27 19:00:00  1.29600  1.31450  1.29500  1.31300  461816.0
2024-03-27 19:15:00  1.31300  1.31900  1.30840  1.31890  319903.0
2024-03-27 19:30:00  1.31890  1.31910  1.29710  1.29820  437442.0
2024-03-27 19:45:00  1.29820  1.31270  1.29620  1.30950  260617.0
2024-03-27 20:00:00  1.30950  1.33910  1.30500  1.33810  828852.0

[104667 rows x 5 columns]

# Get Historical Data From Database

In [8]:
exchange_name = "binance"

exchange = ExchangeDataManager(
    exchange_name=exchange_name, path_download="./database/exchanges"
)

await exchange.download_data(
    coins=["MAGIC/USDT:USDT"],
    intervals=["15m"],
    start_date="2023-01-01 00:00:00"
)

df = exchange.load_data(
    coin="MAGIC/USDT:USDT",
    interval="15m"
)

df

	Récupération pour la paire MAGIC/USDT:USDT en timeframe 15m sur l'exchange binance...

  0%|          | 0/254 [00:00<?, ?it/s]

                       open    high     low   close    volume
date
2022-02-22 03:30:00  5.0110  5.3410  5.0110  5.2050  173120.6
2022-02-22 03:45:00  5.2050  5.2790  5.1130  5.2190  175964.0
2022-02-22 04:00:00  5.2150  5.3710  5.2010  5.3000  187850.6
2022-02-22 04:15:00  5.3000  5.3290  5.2060  5.2130  116803.5
2022-02-22 04:30:00  5.2110  5.3180  5.1450  5.2690  210107.4
...                     ...     ...     ...     ...       ...
2024-03-26 16:30:00  3.9188  3.9309  3.8670  3.8788  225125.8
2024-03-26 16:45:00  3.8792  3.9088  3.8727  3.9009  109166.6
2024-03-26 17:00:00  3.9007  3.9348  3.8921  3.9020  117680.7
2024-03-26 17:15:00  3.9029  3.9597  3.9010  3.9480  307609.6
2024-03-26 17:30:00  3.9477  3.9721  3.9359  3.9450  142088.1

[73305 rows x 5 columns]

In [9]:
df = exchange.load_data(
    coin="MAGIC/USDT:USDT",
    interval="15m"
)

df

                       open    high     low   close     volume
date
2023-01-25 03:00:00  1.2900  1.2900  1.1701  1.2200  2852796.1
2023-01-25 03:15:00  1.2200  1.2300  1.1634  1.1811  2072887.8
2023-01-25 03:30:00  1.1802  1.2231  1.1716  1.2189  1408061.8
2023-01-25 03:45:00  1.2172  1.2189  1.1978  1.2053   551361.6
2023-01-25 04:00:00  1.2042  1.2354  1.2014  1.2321   983829.6
...                     ...     ...     ...     ...        ...
2024-03-26 16:30:00  1.1958  1.2015  1.1810  1.1830   594037.0
2024-03-26 16:45:00  1.1831  1.1903  1.1810  1.1874   364136.2
2024-03-26 17:00:00  1.1876  1.1911  1.1796  1.1831   262836.5
2024-03-26 17:15:00  1.1832  1.2017  1.1832  1.2006   202314.2
2024-03-26 17:30:00  1.2006  1.2026  1.1947  1.1952   156892.9

[40955 rows x 5 columns]

In [ ]:
exchange.explore_data()