In [2]:
import sys
sys.path.append('./')
from utilities.data_manager import ExchangeDataManager
import pandas as pd

# Download Historical data into CSV in Database

In [11]:
exchange_name = "mexc"

intervals = ["1h"]

coin_to_dl = [
    "ADA/USDT:USDT"
]

exchange = ExchangeDataManager(
    exchange_name=exchange_name, path_download="./utilities/database/exchanges"
)

await exchange.download_data(
    coins=coin_to_dl,
    intervals=intervals,
    #start_date="2023-01-01 00:00:00"
)

	Récupération pour la paire ADA/USDT:USDT en timeframe 1h sur l'exchange mexc...
	Données déjà récupérées

In [4]:
df = exchange.load_data(
    coin="API3/USDT:USDT",
    interval="1h"
)

df

                       open    high     low   close    volume
date
2022-02-22 03:00:00  5.2120  5.2120  5.2120  5.2120      16.0
2022-02-22 04:00:00  5.2120  5.3260  5.1730  5.1850  108923.0
2022-02-22 05:00:00  5.1850  5.2580  5.1680  5.1920   51193.0
2022-02-22 06:00:00  5.1920  5.3200  5.1860  5.2860   43441.0
2022-02-22 07:00:00  5.2860  5.5790  5.2810  5.4390  139482.0
...                     ...     ...     ...     ...       ...
2024-06-11 15:00:00  2.9231  2.9490  2.8128  2.8626  121925.0
2024-06-11 16:00:00  2.8626  2.8925  2.8119  2.8236  107036.0
2024-06-11 17:00:00  2.8236  2.8312  2.7755  2.8185   93214.0
2024-06-11 18:00:00  2.8185  2.8725  2.8178  2.8716   33470.0
2024-06-11 19:00:00  2.8716  2.8942  2.8525  2.8618   33150.0

[20176 rows x 5 columns]

# Get Historical Data From Database

In [8]:
exchange_name = "binance"

exchange = ExchangeDataManager(
    exchange_name=exchange_name, path_download="./database/exchanges"
)

await exchange.download_data(
    coins=["MAGIC/USDT:USDT"],
    intervals=["15m"],
    start_date="2023-01-01 00:00:00"
)

df = exchange.load_data(
    coin="MAGIC/USDT:USDT",
    interval="15m"
)

df

	Récupération pour la paire MAGIC/USDT:USDT en timeframe 15m sur l'exchange binance...

  0%|          | 0/254 [00:00<?, ?it/s]

                       open    high     low   close    volume
date
2022-02-22 03:30:00  5.0110  5.3410  5.0110  5.2050  173120.6
2022-02-22 03:45:00  5.2050  5.2790  5.1130  5.2190  175964.0
2022-02-22 04:00:00  5.2150  5.3710  5.2010  5.3000  187850.6
2022-02-22 04:15:00  5.3000  5.3290  5.2060  5.2130  116803.5
2022-02-22 04:30:00  5.2110  5.3180  5.1450  5.2690  210107.4
...                     ...     ...     ...     ...       ...
2024-03-26 16:30:00  3.9188  3.9309  3.8670  3.8788  225125.8
2024-03-26 16:45:00  3.8792  3.9088  3.8727  3.9009  109166.6
2024-03-26 17:00:00  3.9007  3.9348  3.8921  3.9020  117680.7
2024-03-26 17:15:00  3.9029  3.9597  3.9010  3.9480  307609.6
2024-03-26 17:30:00  3.9477  3.9721  3.9359  3.9450  142088.1

[73305 rows x 5 columns]

In [9]:
df = exchange.load_data(
    coin="MAGIC/USDT:USDT",
    interval="15m"
)

df

                       open    high     low   close     volume
date
2023-01-25 03:00:00  1.2900  1.2900  1.1701  1.2200  2852796.1
2023-01-25 03:15:00  1.2200  1.2300  1.1634  1.1811  2072887.8
2023-01-25 03:30:00  1.1802  1.2231  1.1716  1.2189  1408061.8
2023-01-25 03:45:00  1.2172  1.2189  1.1978  1.2053   551361.6
2023-01-25 04:00:00  1.2042  1.2354  1.2014  1.2321   983829.6
...                     ...     ...     ...     ...        ...
2024-03-26 16:30:00  1.1958  1.2015  1.1810  1.1830   594037.0
2024-03-26 16:45:00  1.1831  1.1903  1.1810  1.1874   364136.2
2024-03-26 17:00:00  1.1876  1.1911  1.1796  1.1831   262836.5
2024-03-26 17:15:00  1.1832  1.2017  1.1832  1.2006   202314.2
2024-03-26 17:30:00  1.2006  1.2026  1.1947  1.1952   156892.9

[40955 rows x 5 columns]

In [ ]:
exchange.explore_data()